<div class="day-view">
  @if (viewModel(); as viewModel) {
    <div class="day-summary">
      <h3>Gesamt: {{ viewModel.totalDuration }}</h3>
    </div>
    
    <p-table
      [value]="viewModel.activities"
      dataKey="activityId"
      groupRowsBy="activityName"
      rowGroupMode="subheader"
    >
      <ng-template #header>
        <tr>
          <th>Aktivität</th>
          <th>Von</th>
          <th>Bis</th>
          <th>Dauer</th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template #groupheader let-activity let-expanded="expanded">
        <tr>
          <td colspan="3">
            <button
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              [pRowToggler]="activity"
              pButton
              pRipple
              rounded
              text
              type="button"
            ></button>
            <span [style.background-color]="activity.color" class="color-dot"></span>
            <strong>{{ activity.activityName }}</strong>
          </td>
          <td>
            <strong>{{ activity.totalDuration }}</strong>
          </td>
          <td></td>
        </tr>
      </ng-template>

      <ng-template #expandedrow let-activity>
        @for (entry of activity.timeEntries; track entry.timeEntryId) {
          <tr>
            <td></td>
            <td>{{ entry.start | date : 'HH:mm:ss' }}</td>
            <td>{{ entry.end | date : 'HH:mm:ss' }}</td>
            <td>{{ entry.duration }}</td>
            <td>
              <!-- <p-button icon="pi pi-pencil" [text]="true" [rounded]="true" (click)="editEntry(entry)" /> -->
            </td>
          </tr>
        }
      </ng-template>
    </p-table>
  }
</div>
