/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto';
}
