<div class="date-wrapper">
  <!-- TODO: needs toggle with change of datepicker -->
  <p-datepicker
    (ngModelChange)="onDateChange($event)"
    [dateFormat]="getDateFormat()"
    [ngModel]="date$ | async"
    [readonlyInput]="true"
    [showWeek]="selectedDateRangeMode() === DateRangeMode.WEEK"
    [view]="viewForDatePicker()"
    class="datepicker"
  ></p-datepicker>
  <button
    (click)="onMoveDateBackward()"
    icon="pi pi-arrow-left"
    pButton
    pRipple
    plain
    rounded
    text
    type="button"
  ></button>
  <button
    (click)="onMoveDateForward()"
    icon="pi pi-arrow-right"
    pButton
    pRipple
    plain
    rounded
    text
    type="button"
  ></button>
  <button (click)="onChangeDateToToday()" pButton pRipple plain rounded text type="button">
    Heute
  </button>
</div>
<div>
  <p-select-button [(ngModel)]="selectedDateRangeMode"
                   [allowEmpty]="false"
                   [options]="dateRanges()"
                   optionLabel="label"
                   optionValue="value">
  </p-select-button>
</div>
@if ((activities$ | async); as activities) {

  @switch (selectedDateRangeMode()) {
    @case (DateRangeMode.DAY) {
      <app-day-view [activities]="activities" [selectedDate]="date$.value" />
    }
    @case (DateRangeMode.WEEK) {
      <app-week-view [activities]="activities" [selectedDate]="date$.value" />
    }
    @case (DateRangeMode.MONTH) {
      <app-month-view [activities]="activities" [selectedDate]="date$.value"></app-month-view>
    }
  }

<!-- <div class="table-wrapper">
  <p-table
    class="table"
    [value]="activityModels"
    dataKey="label"
    sortMode="single"
    rowGroupMode="subheader"
    groupRowsBy="label"
  >
    <ng-template #header>
      <tr>
        <th>Label</th>
        <th>Von</th>
        <th>Bis</th>
        <th>Dauer</th>
      </tr>
    </ng-template>
    <ng-template #groupheader let-activityModels>
      <tr>
        <td colspan="3">
          <strong>{{ activityModels.label }}</strong>
        </td>
        <td>
          <span>
            <strong>
              {{ activityModels.totalDuration }}
            </strong>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template #body let-activityModels>
      @for (timeEntry of activityModels.timeEntries; track $index) {
      <tr>
        <td></td>
        <td>{{ timeEntry.start | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
        <td>{{ timeEntry.end | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
        <td>{{ timeEntry.duration }}</td>
      </tr>
      }
    </ng-template>
  </p-table>
</div> -->
}
