.date-wrapper {
  margin: 1rem 0;
}

.table-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.table {
  width: 90%;
}

.table-head {
  width: 22%;
}

.table-head-action {
  width: 12%;
}
